.sidebar {
  width: 95%;
  background-color: #f9f9f9;
  padding-inline: 50px 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-inline: auto;
  @media (max-width:767px){
    flex-direction: column;
    padding: 0;
  }
}

.heading {
  font-size: 1.2rem;
  margin-bottom: 10px;
  width: 100%;
}

.filterSection {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  flex: 1;
}

.subheading {
  font-size: 1rem;
  margin-bottom: 5px;
}

.select {
  width: 90%;
  padding: 4px;
  margin-bottom: 5px;
}

.rangeInput {
  width: 90%;
  margin: 2px 0;
}

.rangeLabel {
  font-size: 0.9rem;
  color: #333;
}

.searchInput {
  width: 90%;
  padding: 6px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
